@font-face {
  font-family: "GenJyuuGithicX_Medium";
  src: url(../font/ttf/GenJyuuGothicX-Medium.ttf);
  src: url(../font/ttf/GenJyuuGothicX-Medium.ttf) format("truetype"),
    url(../font/eot/GenJyuuGothicX-Medium.eot) format("embedded-opentype");

  src: url(../font/ttf/GenJyuuGothicX-Regular.ttf);
  src: url(../font/ttf//GenJyuuGothicX-Regular.ttf) format("truetype"),
    url(../font/eot/GenJyuuGothicX-Normal.eot) format("embedded-opentype");
}

.main-patterens {
  width: 80%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-top: 140px;
}

.patterens {
  padding: 60px 0%;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 35%;
}
.circles2 {
  width: 54px;
  height: 54px;
  font-size: 24px;
  line-height: 54px;
  background-color: #541052;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
.patterens .circles1 p {
  font-size: 24px;
  color: #541052;
}

.circles {
  width: 54px;
  height: 54px;
  font-size: 24px;
  line-height: 54px;
  background-color: #d9d9d9;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

.main-patterens .patterens p {
  font-size: 24px;
  padding-top: 20px;
  width: 100%;
}

.triangles {
  width: 0;
  height: 0;
  display: block;
  border-top: 18px solid transparent;
  border-left: 22px solid #d9d9d9;
  border-bottom: 18px solid transparent;
  margin-top: 130px;
}
@media (min-width: 768px) {
  body {
    margin: none;
  }
  .data {
    margin: 50px 16%;
    color: #541052;
    font-size: 24px;
  }
  .title-data {
    margin: 30px 0 70px 0;
  }
  .line,
  .line-width {
    margin: 30px 0;
  }
  /*標題*/
  .title-data {
    padding: 18px 1%;
    font-size: 24px;
    color: #000000;
    background-color: #dcdcdc;
    display: block;
    text-align: center;
  }
  .text {
    display: inline-block;
  }
  /*input*/
  input::-webkit-input-placeholder {
    font-size: 16px;
  }
  input {
    border: #8b8b8b solid 3px;
    border-radius: 12px;
  }
  input:hover {
    border: #541052 solid 3px;
    border-radius: 12px;
  }
  input:active {
    border: #541052 solid 3px;
    background-color: #f0f0f0;
    border-radius: 12px;
  }

  .line-input::placeholder {
    padding-left: 3%;
  }

  .e-mail {
    width: 80%;
  }
  .third-line-right,
  .third-line-left,
  .first-line-left {
    display: inline-block;
  }
  /*button*/
  .button {
    margin: 100px auto;
  }
  .notice {
    font-size: 16px;
    margin: 15px 0;
  }
  .button-lastpage {
    color: #ffffff;
    height: 60px;
    width: 8.5vw;
    font-size: 16px;
    border-radius: 10px;
    background-color: #323232;
    text-align: center;
    vertical-align: middle;
    border: none;
    text-align: center;
    margin: 0 2% 0 0;
  }
  .button-lastpage:hover {
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #541052;
    color: #541052;
  }

  .button-lastpage:active {
    background-color: #541052;
    border-radius: 10px;
    color: #ffffff;
  }
  /*checkbox*/
  input[type="checkbox"] {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #541052;
    user-select: none;
  }

  input[type="checkbox"]:checked {
    color: #ffffff;
    background-color: #541052;
  }
  /*radio*/
  input[type="radio"] {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #541052;
    user-select: none;
  }
  /*dropdown*/
  .dropdown {
    display: inline-block;
  }
  /*bottom-contents*/
  .bottom-contents {
    color: #323232;
    font-size: 16px;
    text-align: center;
    line-height: 28.8px;
    margin: 50px auto;
  }
  .bottom-contents p {
    margin: 0;
  }
}
